@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Report Generation</h1>

<a class="btn btn-primary mt-5" asp-controller="Consignment" asp-action="Report"> Consignment Report </a>
<a class="btn btn-primary mt-5" asp-controller="Shipper" asp-action="Report"> Shipper Report </a>